{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<br>

	<div class="container">
		<div class="card p-5 ">
            <h3>Votre panier</h3>
            <br>

			{% if items | length > 0 %}

				<table class="table ">
					<thead class="table-light">
						<tr>
							<th>Produit</th>
							<th>prix/u</th>
							<th class="text-end">Quantité</th>
							<th class="text-end">Prix de l'article</th>
							<th></th>
						</tr>
					</thead>
					<tbody>

						{% for item in items %}

							<tr>
								<td>{{item.produit.nom}}</td>

								<td>{{(item.produit.prixUnitaireHT + item.produit.prixUnitaireHT * item.produit.TVA)|number_format(2)}} €</td>

                             
                                    <td class="text-end">
                                        <a  style="text-decoration:none" href="{{ path('modifQt',{'id':item.produit.id, 'action':'moins'}) }}"><button class="btn btn-outline-danger btn-sm">-</button></a>
                                             {{item.quantite}} 
                                        <a style="text-decoration:none" href="{{ path('modifQt',{'id':item.produit.id, 'action':'plus'}) }}"><button class="btn btn-outline-success btn-sm">+</button></a>
                                     </td>
                        
								<td class="text-end">{{((item.produit.prixUnitaireHT + item.produit.prixUnitaireHT * item.produit.TVA )* item.quantite)|number_format(2)}} €</td>


								<td class="text-end">
									<a href="{{path('cart_delete', {'id':item.produit.id})}}" class="btn btn-danger">
                                        Supprimer                                   
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4" class="text-end"> <b>Total :</b> 
								{{total}} €
							</td>
							<tr>
                                <td colspan="4" class="text-end">
                                    <a href="#"><button type="button" class="btn btn-outline-danger">Retour aux articles</button></a>
                                    <a href="#"><button type="button" class="btn btn-success">Valider ma commande</button></a>
                                </td>
                            </tr>
						</tr>
					</tfoot>
				</tbody>


			</table>

		{% else %}

			Votre panier est vide

		{% endif %}
	</div>
</div>
<br>{% endblock %}
