{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<h1>Mes informations</h1>


<div class="container">
<div class="card text-center offset-3" style="width: 35rem; height:22rem">
    <div class="card-body">
      
      <h3 class="card-subtitle mb-2">{{app.user.nom}} {{app.user.prenom}}</h3>
      <h4 class="card-subtitle mb-2">Entreprise :{{app.user.raisonSociale}}</h4>
      <h6 class="card-subtitle mb-2">Mail :{{app.user.email}}</h6>



         <h6 class="card-subtitle mb-2">{{app.user.description}}</h6>
         <h6 class="card-subtitle mb-2 ">Siret :{{app.user.siret}}</h6>
       

      <a href="{{path('vendeurUpdate')}}" class="btn btn-primary">Modifier mes informations</a>

      <a href="{{path('produitsUpdate', {'id':app.user.id}) }}"><button type="button" class="btn btn-success">Voir mes produits en vente</button></a> 
      <a href="{{path('allCodePromo', {'id':app.user.id}) }}"><button type="button" class="btn btn-success">Gerer mes codes promotion</button></a> 

     
    </div>
  </div>
</div>
<br>

{% endblock body %}