{% extends 'base.html.twig' %}

{% block body %}
  <br />
  <div class="container-fluid">
    <div class="card">
      <div class="row col-12">
      
            <div class="col-12 col-sm-12 col-lg-4 offset-xl-0 offset-lg-0 align-items-center">
              <img src="{{ asset('images/' ~ vendeur.raisonSociale ~ '.jpg') }}"
                alt="vendeur"
                class="img-fluid" />
            </div>
       
        
          <div class="col-12 col-sm-12 col-lg-8 offset-xl-0">
            <div class="card-body">
              <h5 class="card-title">
                Vendeur {{ vendeur.raisonSociale }}
              </h5>
              <p class="card-text">
                Géré par: {{ vendeur.nom }} {{ vendeur.prenom }}
              </p>
              <p class="card-text">
                {{ vendeur.description }}
              </p>
              <p class="card-text">
                <small class="text-muted">
                  {% for adresse in vendeur.adresses %}
                    {{ adresse.rue }} {{ adresse.codePostal }}
                    {{ adresse.ville }}
                  {% endfor %}
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  Liste des produits du {{ vendeur.nom }}
  <div class="container">
    <div class="row">
      {% for produit in produits %}
        <div class="col-md-4 col-12 col-xl-3 col-lg-4 mb-5">
          <div class="card">
            <img class="card-img-top"
              src="{{ asset(produit.image) }}"
              alt="..." />
            <div class="card-body">
              <h5 class="card-title">
                {{ produit.nom }}
              </h5>

              <p class="card-text">
                {{ produit.description }}
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Stock : {{ produit.stock }}</li>
              <li class="list-group-item">
                poid d'une portion : {{ produit.poidUnitaire }}
              </li>
              <li class="list-group-item">
                prix de la portion HT : {{ produit.prixUnitaireHT }}
              </li>
              <li class="list-group-item">
                prix de la portion TTC : {{ (produit.prixUnitaireHT + produit.prixUnitaireHT * produit.TVA)|number_format(2) }}
              </li>
              <li class="list-group-item">


                <span class="add">
                <a href="{{path('panierAjout',{id: produit.id}) }}" class="btn btn-success col-6 offset-3 add" role="button">
                  <i class="fas fa-2x fa-cart-plus"></i>
                </a><div class="validate"></div>
                </span>



              </li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}


{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock javascripts %}
