{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!
{% endblock %}

{% block body %}
	<div class="row">
		<div class=" col-12 col-xl-9 ">
		
			<h1>Ma commande</h1>

			<div class="col-12">
				<li class="list-group-item">
					<h3>Vos adresses</h3>

					{% for adresse in adresses %}

						{% if adresse.isDefault == true %}

							{% if adresseLivraison == adresse or adresseLivraison == null %}
								<h6 style="color: darkgreen;">Adresse de livraison selectionnée:</h6>
								<div class="alert alert-success" role="alert">
									<p>
										<b>{{adresse}}</b>	
										<span class="row col-1">
											<a href="{{path('adresseUpdate', {'id': adresse.id, 'route':1})}}" class="btn btn-outline-primary btn-sm">
												<i class="far fa-edit"></i>
											</a>
										</span>
									</p>
								</div>

							{% elseif adresseLivraison != adresse %}

								<p>
								<span class="col-sm-12">{{adresse}}</span>
									<span class="row col-1">
											<a href="{{path('adresseDelete', {'id': adresse.id, 'route':1})}}"  class="btn btn-outline-danger btn-sm">
												<span>
													<i class="fas fa-times"></i>
												</span>
											</a>
											<a href="{{path('adresseUpdate', {'id': adresse.id, 'route':1})}}" class="btn btn-outline-primary btn-sm">
												<i class="far fa-edit"></i>
											</a>
										<a href="{{path('adresseLivraison', {'id': adresse.id})}}" class="btn btn-outline-success btn-sm">Utiliser cette adresse</a>
									</span>
								</p>

							{% endif %}

						{% else %}

							{% if adresseLivraison == adresse %}
								<h6 style="color: darkgreen;">Adresse de livraison selectionnée:</h6>
								<div class="alert alert-success" role="alert">
									<span>
									<b>{{adresse}}</b>
										<span class="row col-2">
											<a href="{{path('adresseUpdate', {'id': adresse.id, 'route':1})}}" class="btn btn-outline-primary btn-sm">
												<i class="far fa-edit"></i>
											</a>
										</span>
									</span>
								</div>

							{% else %}
								<p>
									<span class="col-1">
										<a href="{{path('adresseDelete', {'id': adresse.id, 'route':1})}}" class="btn btn-outline-danger btn-sm">
												<i class="fas fa-times"></i>
										<a href="{{path('adresseUpdate', {'id': adresse.id, 'route':1})}}" class="btn btn-outline-primary btn-sm">
												<i class="far fa-edit"></i>
											</a>
										</a>
									</span>
									<span class="col-sm-12">{{adresse}}</span>
									<a href="{{path('adresseLivraison', {'id': adresse.id})}}" class="btn btn-outline-success btn-sm">Utiliser cette adresse</a>
									
								</p>
							{% endif %}

						{% endif %}

						{% endfor %}

						<div class="offset-8 row">
							<a href="{{path('adresseAdd', {'id':1})}}" class="btn btn-primary btn-sm ">Ajouter une nouvelle adresse</a>
						</div>
				</li>
			</div>

			<div class="row">
				<div class="col-12">
					<span style="font-size: 3em; color: rgb(39, 38, 38);">
						<li class="list-group-item p-2">
							<h6>Moyens de payement</h6>
							
								<i class="fab fa-cc-mastercard"></i>
								<i class="fab fa-cc-visa"></i>
								<i class="fab fa-google-pay"></i>							
						</li>
					</span>
				</div>
			</div>		
			<div class="row">
				<div class="col-12 col-xl-6">
					<h3>Récapitulatif de la commande</h3>
					<ul class="list-group mb-3">
						<li class="list-group-item d-flex justify-content-between">
							<span>Total :</span>
							<strong>{{ prixTotal|number_format(2) }}€</strong>
						</li>
						{% for p in panier %}
						
							<li class="list-group-item d-flex justify-content-between lh-sm">
								<div class="col-md-5 col-sm-5 offset-md-1 offset-sm-1 ">
									<img class="img-fluid" src="{{asset(p.produit.image)}}" alt="..." height="90px" width="90px">
								</div>
								<div>
									<h6 class="my-0">{{p.produit.nom}}</h6>
									<small class="text-muted">{{ ((p.produit.prixUnitaireHT * p.produit.TVA) + p.produit.prixUnitaireHT)|number_format(2) }}€/u</small>
								</div>
								<div class="col-md-6 col-sm-6 offset-md-3 offset-sm-3">
									<div>
										<h6>
											<p class="js-like">{{p.quantite}}</p>	
										</h6>
									</div>
									<span class="text-muted">
										{{(((p.produit.prixUnitaireHT * p.produit.TVA) + p.produit.prixUnitaireHT) * p.quantite)|number_format(2)}}€
									</span>
									<a href="{{ path('panierDelete', {'id' : p.produit.id})}}" class="text-danger">
										<i class="fas fa-trash-alt"></i>
									</a>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class="col-12 col-xl-5">
					<h3>moyens de livraison</h3>								
					<table>
							<tr>
								<td>
									{{form_start(livreurForm)}}

									{{form_row(livreurForm.nom, {'attr':{
										'onChange':'ch();codePromo()'
									}}
									)}}
								</td>
							</tr>		
					</table>
				</div>
			</div>
		</div>



		<div class=" col-12 col-xl-3">

			<div class="card sticky-top">
				<div class="card-body">
					<span class="card-text text-muted lh-0" style="font-size: 12px; text-align: justify;">
						En passant votre commande, vous acceptez les Conditions générales de vente d’Amazon. Veuillez consulter notre Notice Protection de vos informations personnelles, notre Notice Cookies et notre Notice Annonces publicitaires basées sur vos centres d’intérêt.
					</span>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Articles :
						{{ prixTotal|number_format(2) }}€
					</li>
					<li class="list-group-item">Livraison :
					<div class="livreur"> </div>
					<span class="test">
						{% for livreur in livreurs %}
							{% if livreur %}
								<div class="livreurs">{{livreur.tarif}}</div>
							{% endif %}
						{% endfor %}
						</span>
					</li>

				{% if codePromoMontant <= 0 %}	
					{% else %}
			
						<span class="alert alert-success alert-dismissible fade show">
							Code promotion: -
							<span id="codePromo">
								{{codePromoMontant}} 
							</span>€
						</span>
			
				{% endif %}

					<li class="list-group-item">
					<strong>	
						Total :<span id="prixTotal">
						{{ prixTotal|number_format(2)}} €
						</span>
					</strong>
					</li>
				</ul>
				<div class="card-body">	
					{% if panier is empty %}
						{{form_row(livreurForm.submit,{ 
							'attr':{'disabled':true,
							'class': 'btn btn-danger'}
						} )}}
					{% else %}
						{{form_row(livreurForm.submit,{
							'attr':{'class': 'btn btn-success'}
						} )}}
					{% endif %}		
						{{form_end(livreurForm)}}
				</div>
					{{form_start(codePromo)}}

					{{form_row(codePromo.nom)}}
					{{form_row(codePromo.Ajouter, {'attr':{
										'onClick':'codePromo()'
									}}
									)}}

					{{form_end(codePromo)}}
					

			</div>
		</div>
	</div>
</li>
{% endblock %}
{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock javascripts %}