{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}



  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
       <img src="{{ asset('images/produit3.jpg') }}"/>
    </div>
    <div class="carousel-item">
      <img src="{{ asset('images/produit2.jpg') }}"/>
    </div>
    <div class="carousel-item">
      <img src="{{ asset('images/produit1.jpg') }}"/>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  
      
<!-- La j'essai de faire un caroussel des meilleurs vendeurs!-->
      
   

<h1>Vendeurs les plus populaires</h1>
<div class="row">
    {% for vendeur in vendeurs %} 


    <div class="card" style="width: 19rem;">
        <div class="card-body">
            <img src="{{ asset('images/' ~ vendeur.raisonSociale ~ '.jpg')}}" alt="vendeur" class="img-fluid">
            <h5 class="card-title">{{vendeur.raisonSociale}}</h5>
            <p class="card-text">{{vendeur.description}}</p>
            <a href="{{ path('produitsVendeur', {'id' : vendeur.id})}}" class="btn btn-primary">Voir les articles en vente</a>
        </div>
        <!-- <ul class="list-group list-group-flush">
        <li class="list-group-item">
        </li>
        </ul> -->
    </div>

    {% endfor %}
</div>

<h1>Produits les plus populaires</h1>
<div class="row">

    {% for produit in produits %}


        <div class="card" style="width: 19rem;">
        <img class="card-img-top" src="{{asset(produit.image)}}" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{produit.nom}}</h5>
            
            <p class="card-text">{{produit.description}}</p>
            </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
            Stock : {{produit.stock}}
            </li>
            <li class="list-group-item">
            poid d'une portion : {{ produit.poidUnitaire}}
            </li>
            <li class="list-group-item">
            prix de la portion HT : {{ produit.prixUnitaireHT }}
            </li>
            <li class="list-group-item">
            prix de la portion TTC : {{ (produit.prixUnitaireHT + produit.prixUnitaireHT * produit.TVA)|number_format(2)}}
        </li>
        <li class="list-group-item">
            <a href="{{ path('panierUpdate', {'id' : produit.id, 'action' : 'plus'})}}" class="btn btn-success" role="button"><i class="fas fa-1x fa-cart-plus"></i></a>   
            <a href="{{ path('produitsVendeur', {'id' : produit.vendeur.id})}}" class="btn btn-primary btn-sm">Voir le profil du vendeur</a>
        </li>
        
    </ul>
</div>



{% endfor %}
</div>
{% endblock %}
