{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<h1>Mes informations</h1>


<div class="container">
<div class="card text-center offset-4" style="width: 23rem;">
    <div class="card-body">
      
     
      <h6 class="card-subtitle mb-2 text-muted">Mail :{{app.user.email}}</h6>
Role:
      {% for role in roles %} 

      {% if role == 'ROLE_VENDEUR' %}
         <h1>vendeur</h1>
         <h6 class="card-subtitle mb-2 text-muted">Siret :{{app.user.siret}}</h6>
         
      {% elseif role == 'ROLE_CLIENT' %} 
      <h5 class="card-title">{{app.user.nom}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{app.user.prenom}}</h6>
        <h1>client</h1>
        

      {% endif %}
    
{% endfor %}
      <a href="{{path('user', {'id':app.user.id})}}" class="card-link">Modifier mes informations</a>
      <pre>
      </pre>
    </div>
  </div>
</div>

{% endblock body %}